@model IEnumerable<CompanyViewModel>

@{
    ViewData["Title"] = "Компании";
}

<div class="container-fluid pb-3">
    <section class="content">

      <!-- Default box -->
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Компании</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0" style="display: block;">
          <table class="table table-striped projects">
              <thead>

              </thead>
              <tbody>
                  @foreach (var company in Model){
                <tr>
                    <td>
                          @company.Name
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                          <input asp-for="@company.IsHide" class="custom-control-input custom-control-input-danger custom-control-input-outline" type="checkbox" id="customCheckbox5" disabled="" />
                          <label for="customCheckbox5" class="custom-control-label">Скрыт</label>
                        </div>
                    </td>
                    <td class="project-actions text-right">
                        <a asp-action="Edit" class="btn btn-info btn-sm" asp-route-editId="@company.Id">
                            <i class="fas fa-pencil-alt"></i>
                            Изменить
                        </a>
                    </td>
                </tr>
                  }
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
</div>